:root {
  --branding-color: #815f54;
  --secondary-color: #f6f6f6;
  --subtile-color: #33332f;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 92px;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.container {
  margin: 20px 0 5px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 120px 20px;
}
.hero p {
  font-size: 36px;
  opacity: 0.8;
  color: var(--subtile-color);
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 400;
  opacity: 0.9;
  font-size: 24px;
  line-height: 2;
}
.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 48px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}
.contact-links a {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 20px;
}
.contact-links a:hover {
  font-weight: 500;
}

.content {
  margin: 30px;
}
.content-container img {
  border-radius: 4px;
  width: 600px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.line {
  max-width: 50%;
  margin: 0 auto;
}
.project-description {
  padding: 100px 60px;
}
.img-home-page {
  border-radius: 4px;
  width: 600px;
}
.logo {
  max-width: 100px;
}

.nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-size: 17px;
  margin-left: 30px;
}
nav a {
  text-decoration: none;
  color: var(--subtile-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
  font-size: 18px;
  font-weight: 500;
}

footer {
  margin: 100px 0;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 80px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contact-me-footer:hover {
  color: var(--branding-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--branding-color);
  transition: all 200ms ease-in-out;
}
footer p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  font-size: 22px;
  color: #33332f;
}
footer .email-link:hover {
  color: var(--branding-color);
  font-size: 23px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 17px;
  border-radius: 50%;
  font-size: 22px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
  font-size: 23px;
}
footer .coded-by {
  text-align: center;
  font-size: 14px;
  opacity: 0.6;
  margin: 50px;
}
footer .coded-by a {
  text-decoration: none;
  color: var(--branding-color);
}
footer .coded-by a:hover {
  text-decoration: underline;
}

.about-me p {
  font-size: 16px;
}
.headings {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 900px) {
  h3 {
    font-size: 17px;
  }
  .btn-branding {
    font-size: 14px;
    padding: 5px 8px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }

  .hero {
    padding: 80px 20px;
  }
  .hero p {
    font-size: 20px;
  }
  .hero h2 {
    font-size: 18px;
    line-height: 2;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    font-size: 34px;
  }
  .content-container img {
    margin: 20px;
    width: 300px;
  }
  nav li {
    line-height: 40px;
    font-size: 14px;
    margin-left: 10px;
  }
  nav a:hover,
  nav li.active a {
    color: var(--branding-color);
    font-size: 15px;
    font-weight: 500;
  }
}
